/* ------------------------
--------MAIN HEADER ----
------------------------ */

.App-header{
  height: 15vh;
  width: 100vw;

  background-color: rgb(36, 1, 37);
  display: flex;
}

.linkin{
  color: red;
  width: 50vw;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a:Link{
  color: rgb(192, 192, 192);
  text-decoration: none;
  font-weight: 600;
}

a:visited{
  color: rgb(192,220,210);
}

a:link:hover{
  background: linear-gradient(to right, purple, orange, rgb(156, 2, 2));
  border-radius: 25px;
}

/* -------------------------------
------- PROJECTPAGE -----------
------------------------------- */
.ProjMain{
  background-color: rgb(26, 2, 32);
}

.elePitch{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.landingImg{
  width: 100vw;
  height: 60vh;
  background-image: url(./components/assets/ATM.png);
  background-position-x: 10%;
  background-position-y: 30%;
  background-size: 100%;
  
}

.titles{
  
}

.wordVomit{
  width: 70vw;
}

.theCity{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map{
  width: 100vw;
  height: 50vh;
  display: grid;
  grid-template-rows: 5vh 5vh 5vh;
  grid-template-columns: 5vw 5vw 5vw;
  grid-auto-rows: 5vh;
  grid-auto-columns: 5vw;

}

/* -----------------------------
--------- ABOUT -------------
----------------------------- */

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -----------------------
------ Footer ---------
----------------------- */

.footer{
  background-color: black;
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
}